<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href= {{url_for('static', filename = 'css/main.css')}}/>
    </head>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center" style= "background-color:#DCE6A7">
        <h1 class="display-4">Predict COVID Severity</h1>
        <IMG SRC={{ url_for('static', filename='Images/covid.gif') }}>
            
        <p>Use the interactive form below to estimate how severe your COVID case will be:</p>
      </div>
    </div>
    <div class="panel panel-default">

        <div class="panel-body"><p>Due to the evolving nature of the pandemic, some state data is not currently available</p>
        <p>Alaska, Delaware, Hawaii, Iowa, Kentucky, Louisiana, Maine, 
            Mississippi, Missouri, Montana, Nebraska, North Dakota, Oregon, 
            Rhode Island, South Dakota, Texas, West Virginia, Wyoming</p></div>
      </div>


    <div class="row">
        <div class="col-md-6">
 
            <div class="card">
                    <form method="POST" action="/" role="form" , name="petform">
                        <br><br>
                        <h2 style='text-align: center;'>Insert Information</h1>
                        <br>
                        <div style='text-align:center'>
                        
                            <!-- State Choice -->
                            <label for="State">Choose a state:</label>
                            <select id='state' name='state'>
                            <option value="0" id="0" name="State">Alabama</option>
                            <option value="1" id="1" name="State">Arkansas</option>
                            <option value="2" id="2" name="State">Arizona</option>
                            <option value="3" id="3" name="State">California</option>
                            <option value="4" id="4" name="State">Colorado</option>
                            <option value="5" id="5" name="State">Connecticut</option>
                            <option value="6" id="6" name="State">Florida</option>
                            <option value="7" id="7" name="State">Georgia</option>
                            <option value="8" id="8" name="State">Idaho</option>
                            <option value="9" id="9" name="State">Illinois</option>
                            <option value="10" id="10" name="State">Indiana</option>
                            <option value="11" id="11" name="State">Kansas</option>
                            <option value="12" id="12" name="State">Massachusetts</option>
                            <option value="13" id="13" name="State">Maryland</option>
                            <option value="14" id="14" name="State">Michigan</option>
                            <option value="15" id="15" name="State">Minnesota</option>
                            <option value="16" id="16" name="State">North Carolina</option>
                            <option value="17" id="17" name="State">New Jersey</option>
                            <option value="18" id="18" name="State">New Mexico</option>
                            <option value="19" id="19" name="State">Nevada</option>
                            <option value="20" id="20" name="State">New York</option>
                            <option value="21" id="21" name="State">Ohio</option>
                            <option value="22" id="22" name="State">Oklahoma</option>
                            <option value="23" id="23" name="State">Pennsylvania</option>
                            <option value="24" id="24" name="State">South Carolina</option>
                            <option value="25" id="25" name="State">Tennessee</option>
                            <option value="26" id="26" name="State">Utah</option>
                            <option value="27" id="27" name="State">Virgina</option>
                            <option value="28" id="28" name="State">Vermont</option>
                            <option value="29" id="29" name="State">Washington</option>
                            <option value="30" id="30" name="State">Wisconsin</option>
                            </select>
                        </div>
                        <div style='text-align:center'>
                            <!-- Sex Choice -->
                            <label for="sex">Choose your sex:</label>
                            <select id ='sex' name ='sex'>
                                <option value="0" id="0" name="sex">Male</option>
                                <option value="1" id="1" name="sex">Female</option>
                            </select>
                        </div>
                        
                        <div style='text-align:center'>
                            <!-- Race Choice -->
                            <label for="race">Choose your race:</label>
                            <select id='race' name='race'>
                                <option value="1" id="1" name="race">American Indian/Alaskan</option>                     
                                <option value="2" id="2" name="race">Asian</option>                              
                                <option value="3" id="3" name="race">Black</option>                             
                                <option value="4" id="4" name="race">Multiple/Other</option>                            
                                <option value="5" id="5" name="race">Hawaiian/Other Pacific Islander</option>                            
                                <option value="6" id="6" name="race">White</option>
                            </select> 
                        </div>
                        <div style='text-align:center'>
                            <!-- Ethnicity Choice -->
                            <label for="ethnicity">Choose your ethnicity:</label>
                            <select id='ethnicity' name='ethnicity'>
                                <option value="1" id="1" name="ethnicity">Hispanic/Latino</option>   
                                <option value="2" id="2" name="ethnicity">Non-Hispanic/Latino</option>   
                            </select>
                        </div>
                        <div style='text-align:center'>
                            <!-- Age-Range Choice -->
                            <label for="age_range">Choose your age range:</label>
                            <select id ='age_range' name='age_range'>
                                <option value="1" id="1" name="age_range">0 - 17 years</option>  
                                <option value="2" id="2" name="age_range">18 to 49 years</option>  
                                <option value="3" id="3" name="age_range">50 to 64 years</option>  
                                <option value="4" id="4" name="age_range">65+ years</option>  
                            </select>
                        </div>
                        <br>
                            <div style='text-align:center'>
                                <input type="submit" value="Submit" class="btn btn-default">
                                <a class="btn btn-primary" id="resetButton" role="button" style="background-color: grey; border: none; color: white;">Reset</a>
                            </div>
                            <br>
                        </form>
                    </p>
                </div>

            </p>
        </div>
    <div class="col-md-6">
        <div id="gauge"></div>
    </div>
</div>
                    
        </nav>
    
    
            </div>
        </div>
    </div>
</div> 


    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src={{ url_for('static', filename='js/charts.js')}}></script>
    

    
    <script>
        create_gauge_plot("{{predict}}")
        var user = eval('({{ form_reuse | tojson | safe}})');
        repopulate(user);
    </script>
    
     
</body>
</html>
